.Page{width: 100%; background-color: black;}
.Cointaner{ width: 950px; margin: 0 auto; background-color: darkcyan;}
.Main{width: 500px; margin: 0 auto; text-align: center; color:black; }
sub{color: rgb(239, 12, 12);}