.page{background-color:#000000; width:100%}
.Cointener{background-color:#000000; width:950px; margin:0 auto; border:#0033FF 2pxl solid; padding:50px;}
.box{width:600px;  margin:0 auto; padding:5px 5px 5px 5px; border:#FF0000  2px solid; background-color:#FFFF99;}
.b1{border:#33FF00 2px solid;}
h2{text-align:center;}
h1